* {
    margin:  0;
}

#logo {
    font-size: 30px;
    font-family: Helvetica, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 20px;
}


nav a {
    text-decoration: none;
    color: #fff;
}

nav > ul {
    display: flex;
    font-family: Arial, sans-serif;
}

nav > ul li {
    list-style-type: none;
    margin-right: 35px;
}

 ul > li a:hover {
color: #959594;
}

form > label input {
    padding: 10px;
}

 submit i {
    font-size: 30px;
    color: #222;
}
